/*
Home Page
Recent Projects Gray Square: #D8D8D8
Button borders: #222222

Services Page
Tab selected background: #5E9FB9
Tab Hover background: #222222
Tab Hover color: #FFF;
 */
/*------------------------------------*\
RESET
\*------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/
v2.0b1 | 201101
NOTE:WORK IN PROGRESS
USE WITH CAUTION AND TEST WITH ABANDON */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  color: #222222;
  font-family: 'Roboto', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Roboto', Arial, sans-serif;
}
h1 {
  color: #FFFFFF;
  font-size: 6.4rem;
  font-weight: 700;
  line-height: 1.2;
}
h2 {
  color: #222222;
  font-size: 2.8rem;
  font-weight: 700;
  padding-bottom: 10px;
}
h4 {
  font-size: 1.4rem;
  padding-bottom: 10px;
}
p {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
}
.nav-collapsed {
  background-color: #98A4AF;
  height: 50px;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: 100vw;
  z-index: 1;
}
.nav-collapsed .nav-inner {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}
.nav-collapsed .logo {
  color: #FFFFFF;
  font-size: 2.4rem;
  font-weight: 700;
  margin-right: 60%;
}
.nav-collapsed img {
  cursor: pointer;
}
.nav-expanded {
  display: none;
}
.expanded {
  overflow: hidden;
}
.expanded .nav-collapsed {
  display: none;
}
.expanded .nav-expanded {
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1.78;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
  position: absolute;
  opacity: 0.9;
  background-color: #98A4AF;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.expanded .nav-item {
  color: #FFFFFF;
  text-decoration: none;
}
.expanded .nav-item:hover {
  color: #222222;
}
.expanded .icon-close {
  cursor: pointer;
  position: absolute;
  top: 5%;
  right: 12%;
}
.footer {
  background-color: #828282;
}
.footer h2 {
  color: #FFFFFF;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2;
}
.footer p {
  color: #FFFFFF;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.9;
}
.footer address {
  color: #FFFFFF;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.9;
}
.footer address .footer-heading {
  color: #FFFFFF;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2;
}
.footer .footer-wrapper {
  display: flex;
  justify-content: space-around;
  padding: 4% 12% 2% 12%;
}
.footer .footer-wrapper h2 {
  padding-bottom: unset;
}
.footer .footer-wrapper .margin-btm-4 {
  margin-bottom: 4%;
}
.footer .footer-wrapper input {
  color: #828282;
  font-size: 1.6rem;
  border: 1px;
  border-radius: 4px;
  height: 32%;
  width: 100%;
}
.footer .txt-center {
  text-align: center;
}
.container .header {
  background-image: url("../img/home/home-jumbotron.png");
  height: 598px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  position: relative;
  margin-top: 50px;
}
.container .header .header-wrapper {
  margin-left: 8%;
  position: absolute;
  top: 54.1%;
}
.container .main-content {
  padding: 5% 8%;
}
.container .content-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 12%;
}
.container .img-right .architect-wrapper {
  padding-right: 2%;
  width: 50%;
}
.container .img-right .architect-wrapper h2 {
  margin-bottom: 3%;
}
.container .img-right .architect-wrapper p {
  margin-bottom: 4%;
}
.container .img-right .architect-wrapper button {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  border: 1px solid #222222;
  cursor: pointer;
  background-color: #FFFFFF;
  color: #222222;
  font-size: 1.6rem;
  padding: 4%;
  width: 33%;
}
.container .img-right img {
  padding-left: 2%;
  width: 50%;
}
.container .img-left {
  flex-direction: row-reverse;
}
.container .img-left .futuristic-wrapper {
  padding-left: 2%;
  width: 50%;
}
.container .img-left .futuristic-wrapper h2 {
  margin-bottom: 3%;
}
.container .img-left .futuristic-wrapper p {
  margin-bottom: 4%;
}
.container .img-left .futuristic-wrapper button {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  border: 1px solid #222222;
  cursor: pointer;
  background-color: #FFFFFF;
  color: #222222;
  font-size: 1.6rem;
  padding: 4%;
  width: 33%;
}
.container .img-left img {
  padding-right: 2%;
  width: 50%;
}
.container .projects-wrapper h2 {
  margin-bottom: 5%;
}
.container .projects-wrapper .projects-image {
  position: relative;
}
.container .projects-wrapper .projects-image .project-title-left {
  left: auto;
}
.container .projects-wrapper .projects-content {
  width: 46%;
  margin: 10% auto;
}
.container .projects-wrapper .projects-content p {
  margin-bottom: 2%;
}
.container .project-title {
  font-size: 2.6rem;
  letter-spacing: 5px;
  background-color: #D8D8D8;
  padding: 30px;
  text-align: center;
  width: 37%;
  position: absolute;
  left: 62.4%;
  top: 79%;
}
