.container {

  .header {
    background-image: url("../img/home/home-jumbotron.png");
    height: 598px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: relative;
    margin-top: @nav-height;

    .header-wrapper {
      margin-left: 8%;
      position: absolute;
      top: 54.1%;
    }
  }

  .main-content {
    padding: 5% 8%;
  }

  .content-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 12%;
  }

  .img-right {
    .architect-wrapper {
      padding-right: 2%;
      width: 50%;

      h2 {
        margin-bottom: 3%;
      }

      p {
        margin-bottom: 4%;
      }

      button {
        .button-creator(@white, @nero, 1.6rem, 4%, 33%);
      }
    }

    img {
      padding-left: 2%;
      width: 50%;
    }
  } // First Section

  .img-left {
    flex-direction: row-reverse;

    .futuristic-wrapper {
      padding-left: 2%;
      width: 50%;

      h2 {
        margin-bottom: 3%;
      }

      p {
        margin-bottom: 4%;
      }

      button {
        .button-creator(@white, @nero, 1.6rem, 4%, 33%);
      }
    }

    img {
      padding-right: 2%;
      width: 50%;
    }
  } // Second Section

  .projects-wrapper {

    h2 {
      margin-bottom: 5%;
    }

    .projects-image {
      position: relative;

      .project-title-left {
        left: auto;
      }
    }

    .projects-content {
      width: 46%;
      margin: 10% auto;

      p {
        margin-bottom: 2%;
      }
    }

  }

  .project-title {
    font-size: 2.6rem;
    letter-spacing: 5px;
    background-color: @gray-sq;
    padding: 30px;
    text-align: center;
    width: 37%;
    position: absolute;
    left: 62.4%;
    top: 79%;
  }
}//Home page
