.container {

  .header-services {
    background-image: url("../img/services/services-jumbotron.png");
    height: 300px;

  }

  .top-text-services {
    margin-bottom: 4%;
  }

  .content-wrapper-services {
    margin-top: 6%;
  }

  .architect-wrapper-services {
    width: 100%;
    padding-right: 1%;

    p {
      margin-top: 4%;
    }

  }

  .picture-services {
    width: 100%;
    padding-left: 1%;

    img {
      width: 100%;
    }
  }

  .tab-list {
    display: flex;
    justify-content: space-between;

  }

  .tab {
    color: @nero;
    cursor: pointer;
    border: 1px solid @nero;
    font-size: 1.6rem;
    font-weight: 700;
    text-align: center;
    padding: 1.4%;
    width: 21%;

    &:hover {
      background-color: @nero;
      color: @white;

    }
  }
} // Services page
/*
Services Page
Tab selected background: #5E9FB9
Tab Hover background: #222222
Tab Hover color: #FFF;
*/
